$primaery-white: #ffffff;
$primery-gray: #6D6E70;
$primary-red:#ED1B2E;
$primary-black: #000000;

$neutral-lightgray:#d7d7d8;
$neutral-medgray:#9f9fa3;

$Secondary-Khaki:#E2D7AC;
$Secondary-sand:#B4A996;
$Secondary-gold:#ECB731;
$Secondary-lightgreen:#8EC06c;
$Secondary-darkgreen:#537B35;
$Secondary-lightblue:#C4DFF6;
$Secondary-skyblue:#56A0D3;
$Secondary-Classicblue:#0091cd;
$Secondary-midnightblue:#004B79;
$Secondary-Deepred:#7F181b;